html, body{
    margin:0;
    padding:0;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
	min-height: 1200px;
}

h1, h2, h3, h4, h5, h6, p, ul, li, blockquote, figure {
	padding: 0;
	margin: 0;
}

.clearfix:after{
    content:'';
    clear:both;
    display:table;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container:after{
    content:'';
    clear:both;
    display:table;
}

.left {
    float: left;
}

.right {
    float: right;
}

.inline {
	display: inline-block;
}

/*Header*/

.page-header {
    background-color: #ffcd34;
    padding: 20px 0 28px;
	position: relative;
}

.page-header a {
    text-decoration: none;
    color: #000000;
}

.logo-img, logo-brand {
	display: inline-block;
	vertical-align: bottom;
}

.logo {
	width: 30%;
}

.logo-brand {
    font-size: 24px;   
	margin-left: 10px;
}

.main-nav {
	width: 70%;
}

.main-nav li {
    display: inline-block;
}

.main-nav a {
    opacity: 0.55;
    padding: 10px 20px;
	display: inline-block;
	border: 2px solid transparent;
}

.page-header .call-action {
	background-color: #ffe184;
	opacity: inherit;
	border: none;
}

.main-nav a.active {
    opacity: inherit;
}

.main-nav a:hover {
    border: 2px solid rgba(52, 44, 44, 0.3);
    opacity: 1;
}

.main-nav a:active {
	border: 2px solid rgba(52, 44, 44, 0.6);
}

.page-header .call-action:hover {
	border: none;
	background-color: #ffecb2;
}

.page-header .call-action:active {
	border: none;
	background-color: #f6bf16;
}


/*Главная. Промо-блок*/

.promo {
	background: url('../img/bg-promo.jpg') no-repeat 50% 70%;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	color: #ffffff;
	padding: 130px 0;
	position: relative;
}

.stripe:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 14px;
	width: 100%;
	display: block;
	background: linear-gradient(135deg, rgb(255, 205, 52) 35%, rgb(0, 0, 0) 35%, rgb(0, 0, 0) 65%, rgb(255, 205, 52) 65%);
	-webkit-background-size: 30px 14px;
	background-size: 30px 14px;
}

.promo-slogan {
	font-size: 44px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.promo-title {
	font-size: 20px;
	font-weight: normal;
	padding: 0 160px;
	margin-bottom: 28px;
	color: #e1e1e1;
}

.promo-btn {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border: 2px solid #ffcd34;
	padding: 8px 52px 9px 20px;
	position: relative;
}

.promo-btn:before {
	content: "";
	position: absolute;
	background-image: url('../img/arrow_right_icon.png');
	background-size: 100%;
	width: 13px;
	height: 19px;
	right: 10px;
	top: 11px;
}

.promo-btn:hover {
	border: 2px solid  #ffd966;
}

.promo-bth:active {
	border: 2px solid  #ffe390;
}


/*Главная.Обратная связь(повторяется в портфолио)*/

.consult {
	background-color: #202e3b;
	padding: 30px 0 35px;
}

.subtitle {
	font-size: 24px;
	color: #ffcd34;
	font-weight: normal;
}

.consult-title {
	margin-bottom: 35px;
}

.consult-form input, 
.consult-form button {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 45px;
}

.consult-form input {
	background-color: #202e3b;
	border: 1px solid #ffcd34;
	width: 198px;
	padding-left: 20px;
	font-size: 16px;
	margin-right: 20px;
}

input, select, textarea {outline: none;}

.consult-form input::-webkit-input-placeholder {
	color: #fff;
}

.consult-form input[type='date']::-webkit-inner-spin-button { 
	display: none; 
}

.consult-form input[type='date']::-webkit-calendar-picker-indicator { 
	color: #ffcd34; 
	background: #202e3b;
	width: 17px;
}

.consult-form input[type='date']::-webkit-datetime-edit-month-field,
.consult-form input[type='date']::-webkit-datetime-edit-text,
.consult-form input[type='date']::-webkit-datetime-edit-day-field,
.consult-form input[type='date']::-webkit-datetime-edit-year-field { 
	color: #fff; 
}

.btn {
	display: inline-block;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	background-color: #ffcd34;
	color: #202e3b;
	padding: 0 18px;
	border: none;
}

.consult-btn {
	width: 240px;
}

.consult-btn:hover, 
.catalog-consult-btn:hover, 
.project-details_btn:hover,
.contacts-consult-btn:hover {
	background-color: #ffd966;
}

.consult-btn:active, 
.catalog-consult-btn:active,
.project-details_btn:active,
.contacts-consult-btn:active {
	background-color: #f6bf16;
}


/*Главная. Преимущества (повторяется в портфолио)*/

.advantages {
	padding: 45px 0;
}

.advantage-item {
	display: inline-block;
	box-sizing: border-box;
	width: 25%;
	font-size: 13px;
	line-height: 16px;
	padding-left: 60px;
}

.advantage-tools {
	background: url('../pict/advantage_item1.png') no-repeat 0;
}

.advantage-worker {
	background: url('../pict/advantages_item2.png') no-repeat 0;
}

.advantage-barrier {
	background: url('../pict/advantages_item3.png') no-repeat 0;
}

.advantage-specialist {
	background: url('../pict/advantages_item4.png') no-repeat 15px ;
}

/*Главная. Спецпредложения*/

.technic {
	background-color: #f3f3f3;
	padding: 40px 0 68px 0;
	position: relative;
}

.technic .subtitle, 
.catalog-technic .subtitle {
	color: #000;
	font-weight: bold;
}

/*Главная. Нафигация по технике (повторяется в каталоге)*/

.technic-nav {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 25%;
}

.deals {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 75%;
}

.technic-nav li {
	list-style: none;
	font-size: 16px;
	line-height: 38px;
}

.technic-nav a {
	color: #202e3b;
}

.deals .subtitle {
	margin-bottom: 30px;
}

.deals-table {
	width: 100%;
	border-collapse: collapse;
}

.deals-table tr {
	height: 35px;
}

.deals-table tr:nth-child(2n+1) {
	background-color: #fff;
}

.deals-table tr:first-child {
	background-color: #dfdfdf;
	text-align: left;
}


/*Главная. About*/

.about {
	background-color: #202e3b;
	padding: 40px 0 25px 0;
	position: relative;
}

.about .subtitle {
	color: #fff;
	font-size: 26px;
	margin-bottom: 30px;
}

.about-numbers {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 34%;
}

.about-reviews {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 66%;
}

.about-numbers li {
	display: inline-block;
	list-style: none;
	font-size: 18px;
	color: #9e9e9e;
	vertical-align: middle;
	margin-bottom: 10px;
}

.number {
	display: inline-block;
	font-size: 38px;
	color: #f1b132;
	vertical-align: middle;
	margin-right: 15px;
}

.number-text  {
	display: inline-block;
	vertical-align: middle;
}

.about-reviews-item {
	margin-bottom: 40px;
}

.about-reviews-item_img, .about-reviews-item blockquote {
	display: inline-block;
} 

.about-reviews-item_img {
	max-width: 120px;
	max-height: 120px;
	border: 3px solid  #f1b132;
	border-radius: 3px;
	margin-right: 20px;
}

.about-reviews-item blockquote {
	width: 75%;
	vertical-align: top;
	font-size: 18px;
}

.about-reviews-item p {
	color: #fff;
	font-style: italic;
	margin-bottom: 13px;
}

.about-reviews-item cite {
	color: #f1b132;
	font-style: normal;
	font-weight: bold;
}

/*Главная. Карта*/

.map {
	height: 500px;
}

/*Footer*/

.page-footer {
	background-color: #202e3b;
	padding: 20px 0;
}

.page-footer a {
    text-decoration: none;
    color: #ffcd34;
}

.page-footer .main-nav a {
	color: #ffffff;
    padding: 10px 20px;
	display: inline-block;
	opacity: 1;
}

.page-footer .main-nav a:hover {
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.page-footer .main-nav a:active {
	border: 2px solid rgba(255, 255, 255, 0.6);
}

.page-footer .main-nav .call-action, 
.page-footer .main-nav .call-action:hover,
.page-footer .main-nav .call-action:active {
	color: #ffcd34;
	border: none;
}



/*Страница Портфолио*/


.black-line:before {
	content:"";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 10px;
	width: 100%;
	background-color: #000000;	
}

/*Портфолио. Подзаголовок*/

.subheader {
	background: url('../img/bg_portfolio_catalog.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.subheader-portfolio {
	height: 115px;
	background-position: 0 90%;
	position: relative;
}

.subheader-portfolio .subtitle {
	line-height: 105px;
}

.portfolio-nav li {
	display: inline-block;
	line-height: 105px;
	margin-right: 36px;
}

.portfolio-nav li:last-child {
	margin-right: 0;
}

.portfolio-nav a {
	display: inline-block;
	color: #fff;
}

.portfolio-nav a:hover {
	font-weight: bold;
}

.portfolio-nav a:active {
	text-decoration: none;
	font-weight: bold;
}

/*Портфолио. Проекты*/

.project {
	position: relative;
	height: 408px;
	padding-top: 102px;
}

.project-details {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 246px;
	width: 322px;
	background-color: #fff;
	padding: 29px 27px 29px 30px;
	color: #202e3b;
}

.project-details_title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 8px;
}

.project-details_info {
	font-size: 14px;
	line-height: 20px;
}

.project-details_btn {
	height: 40px;
	width: 108px;
	font-size: 15px;
	line-height: 40px;
	margin-top: 20px;
	position: relative;
}

.project-details_btn:before {
	content: "";
    position: absolute;
    background-image: url('../img/arrow-right-blue.png');
    background-size: 100%;
    width: 13px;
    height: 19px;
    right: 14px;
    top: 11px;
}

.project1 {
	background: url('../pict/project1.jpg') no-repeat 0 50%;
	-webkit-background-size: cover;
	background-size: cover;
}

.project2 {
	background: url('../pict/project2.jpg') no-repeat 0 80%;
	-webkit-background-size: cover;
	background-size: cover;
}

.project3 {
	background: url('../pict/project3.jpg') no-repeat 0 50%;
	-webkit-background-size: cover;
	background-size: cover;
	height: 412px;
}


/*Страница контакты*/

/*Контакты. Подзаголовок*/
.subheader-contacts {
	height: 105px;
}

.subheader-contacts .subtitle {
	font-size: 26px;
	line-height: 105px;
}

.contacts-slogan {
	color: #fff;
	line-height: 105px;
	margin-left: 16px;
}

.contacts-consult-btn,
.catalog-consult-btn {
	width: 204px;
	height: 45px;
	font-size: 18px;
	text-align: center;
	line-height: 45px;
	margin-top: 30px;
}

/*Контакты. Форма заказа и карта*/

.order-consult {
	padding: 40px 0 50px;
	background-color: #f3f3f3;
}

.order-consult_map {
	width: 620px;
	height: 395px;
	margin-right: 20px;
	background-color: #fff;
}

.order-consult-contacts {
	width: 300px;
}

.contacts-phone, .contacts-mail {
	padding-left: 35px;
	font-size: 18px;
	margin-bottom: 17px;
	font-weight: bold;
}

.contacts-phone {
	background: url('../img/phone.png') no-repeat 0 50%;
}

.contacts-mail {
	text-decoration: none;
	color: #000;
	background: url('../img/envelop.png') no-repeat 0 50%;
}

.order-consult h3 {
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 16px;
}

.order-consult input[type="text"] {
	width: 288px;
	height: 38px;
	margin-bottom: 10px;
	padding-left: 10px;
}

.order-consult textarea {
	width: 288px;
	padding-left: 10px;
	padding-top: 10px;
	margin-bottom: 18px;
}

.blue-btn {
	background-color: #354b60;
	color: #fff;
	font-weight: normal;
}

.order-consult .blue-btn {
	height: 45px;
	width: 300px;
}

/*Контакты. Отзывы*/

.reviews {
	padding: 35px 0 70px;
}

.reviews .subtitle {
	color: #202e3b;
	font-weight: bold;
	margin-bottom: 22px;
}

.review-item {
	width: 220px;
	margin-right: 20px;
	text-align: center;
}

.review-item:last-child {
	margin-right: 0;
}

.review-item_img {
	display: block;
	max-height: 120px;
	max-width: 12opx;
	border-radius: 50%;
	margin: 0 50px 25px 50px;
}

.review-item_text {
	font-style: italic;
	color: #202e3b;
	font-size: 14px;
}

.review-item_text a {
	display: block;
	color: #202e3b;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
	margin-top: 10px;
}


/*Страница Каталог*/

/*Каталог. Подзаголовок*/

.subheader-catalog {
	background-position: 0 70%;
	padding: 42px 0;
	height: 106px;
}

.subheader-catalog .column-right {
	width: 240px;
}

.subtitle a, 
.subheader-catalog span {
	font-size: 24px;
	color: #ffcd34;
	font-weight: normal;
	text-decoration: none;
}

.subheader-catalog p {
	color: #fff;
}

.subheader-catalog .subheader-text {
	width: 650px;
	margin-top: 10px;
	line-height: 20px;
}

.catalog-consult-btn {
	margin-top: 0;
	margin-bottom: 15px;
}

.catalog-technic {
	background-color: #f3f3f3;
	padding-top: 25px;
}

/*Каталог. Навигация по каталогу*/

.catalog-technic-nav .subtitle {
	padding-left: 47px;
	background: url('../pict/logo-truck-left.png') no-repeat 0 50%;
	-webkit-background-size: 32px 23px;
	background-size: 32px 23px;
	margin-bottom: 16px;
}

.catalog-technic-nav a {
	color: #353535;
}

.catalog-technic-nav a.active {
	padding-left: 16px;
	background: url("../img/arrow-right-blue.png") no-repeat 0 50%;
	-webkit-background-size: 7px 11px;
	background-size: 7px 11px;
	text-decoration: none;
	font-weight: bold;
}

.catalog-technic-nav a:hover {
	font-weight: bold;
}

.catalog-technic-nav a:active {
	text-decoration: none;
	font-weight: bold;
}

.technic-nav .blue-btn {
	color: #fff;
	width: 162px;
	padding-left: 40px;
	position: relative;
	margin-top: 25px;
	height: 36px;
	line-height: 36px;
}

.technic-nav .blue-btn:hover {
	background-color: #46617a;
} 

.technic-nav .blue-btn:active {
	background-color: #567999;
}

.technic-nav .blue-btn:before {
	content: "";
	position: absolute;
	background-image: url('../img/download.png');
	background-size: 100%;
	width: 17px;
	height: 18px;
	left: 10px;
	top: 10px;
}

/*Каталог. Техника в аренду*/

.technics-items {
	box-sizing: border-box;
	width: 75%;
	padding-left: 80px;
}

.technic-item {
	width: 300px;
	margin-right: 20px;
	min-height: 400px;
	box-sizing: border-box;
	margin-bottom: 20px;
	background-color: #fff;
	padding: 25px 30px 33px;
}

.technic-item:nth-child(even) {
	margin-right: 0;
}

.technic-item_heading {
	font-size: 21px;
	margin-bottom: 25px;
}

.technic-item_image {
	max-width: 220px;
	margin: 0 auto;
	display: block;
}

.technic-item_price {
	font-size: 18px;
	font-weight: bold;
	margin: 30px 0 20px;
}

.technic-item_price span {
	font-size: 27px;
}

.button-group {	
	font-size: 0;
}

.button-group_rent, 
.button-group_more {
	height: 36px;
	width: 50%;
	display: inline-block;
	box-sizing: border-box;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	line-height: 36px;
	color: #fff;
}

.button-group_rent {
	background-color: #f3c331;
}

.button-group_rent:hover {
	background-color: #ffd966;
}

.button-group_rent:active {
	background-color: #ffc600;
}

.button-group_more {
	background-color: #354b60;
}

.button-group_more:hover {
	background-color: #46617a;
}

.button-group_more:active {
	background-color: #567999;
}

/*сделать плашки new, sale*/

/*Каталог. Пагинация*/

.technics-pagination {
	text-align: center;
	margin: 26px 0 46px;
}

.technics-pagination li {
	display: inline-block;
}

.technics-pagination a {
	display: inline-block;
	text-decoration: none;
	color: #353535;
	width: 21px;
	height: 21px;
	border: 2px solid transparent;
	margin-right: 10px;
}

.technics-pagination a:last-child {
	margin-right: 0;
}

.technics-pagination a.active {
	color: #fff;
	background-color: #354b60;
	border-radius: 3px;
}

.technics-pagination a:hover {
	border: 2px solid  #9aa5af;
}

.technics-pagination a:active {
	border: 2px solid  #354b60;
}

/*Каталог. Спецпредложения*/

.catalog-deals {
	min-height: 542px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 43px 0 50px;
	background: url('../img/bg_catalog-deals.jpg') no-repeat 50% 0;
	background-size: cover;
}

.catalog-deals .subtitle {
	font-size: 26px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 25px;
}

.catalog-deals .technic-item {
	margin-right: 20px;
}

.catalog-deals .technic-item:last-child {
	margin-right: 0;
}

.technic-item del {
	color: #d12222;
	margin-right: 5px;
}

